In [29]:
import openpyxl
import pandas as pd


def read_excel(filename, nrows):
    """Read out a subset of rows from the first worksheet of an excel workbook.

    This function will not load more excel rows than necessary into memory, and is 
    therefore well suited for very large excel files.

    Parameters
    ----------
    filename : str or file-like object
        Path to excel file.
    nrows : int
        Number of rows to parse (starting at the top).

    Returns
    -------
    pd.DataFrame
        Column labels are constructed from the first row of the excel worksheet.

    """
    # Parameter `read_only=True` leads to excel rows only being loaded as-needed
    book = openpyxl.load_workbook(filename=filename, read_only=True, data_only=True)
    first_sheet = book.worksheets[0]
    rows_generator = first_sheet.values

    header_row = next(rows_generator)
    data_rows = [row for (_, row) in zip(range(nrows - 1), rows_generator)]
    return pd.DataFrame(data_rows, columns=header_row)


data = read_excel('turknetchurnekimanonim.xlsx', nrows=2000)
data.head()

,NaN,ILTELKODU,ILADI,POSILCE,ILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,...,DENVERGIRISTARIHI_3,DENVERCIKISTARIHI_3,DENVERKALDIGISURE_GUN_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3,CHURNTEST_DATE
0,0,212,İstanbul (Avrupa),939,SULTANGAZİ,E,A,2016-04-20,NaT,54,...,None,None,0,0,10,87108,0,16.5013,272.1967,2020-10-31
1,1,212,İstanbul (Avrupa),420,SARIYER,K,A,2016-04-20,NaT,54,...,None,None,0,0,1,90271,0,135.8656,185.5825,2020-10-31
2,2,262,Kocaeli,998,İZMİT,E,A,2016-04-21,NaT,54,...,None,None,0,0,3,90112,0,1.8255,46.6458,2020-10-31
3,3,212,İstanbul (Avrupa),418,KÜÇÜKÇEKMECE,E,A,2016-04-21,NaT,54,...,None,None,0,0,15,87588,1664,2.0288,42.0181,2020-10-31
4,4,212,İstanbul (Avrupa),425,BAYRAMPAŞA,E,A,2016-04-21,2020-10-02,54,...,None,None,0,0,0,0,0,0.0000,0.0000,2020-10-31

In [30]:
data.shape

(1999, 125)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Columns: 125 entries, None to CHURNTEST_DATE
dtypes: datetime64[ns](2), float64(11), int64(95), object(17)
memory usage: 1.9+ MB

In [32]:
data['DURUM'].value_counts()

A    1935
K      64
Name: DURUM, dtype: int64

In [33]:
for col_name in data.columns:
    if len(data[col_name].unique()) == 1:
        data = data.drop(col_name,1)
        print("Freature '{col_name}' is removed from data because it has only one unique value".format(col_name=col_name))
x1.head()

Freature 'HIZMETKANALI_SIKAYETSAYISI_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_1' is removed from data because it has only one unique value
Freature 'CM_TICKETSL_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_1' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_1' is removed from data because it has only one unique value
Freature 'INTERNETEBAGLANAMIYORUM_TICKETSL_1' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_1' is removed from data because it has only one unique value
Freature 'DENVERGIRISTARIHI_1' is removed from data because it has only one unique value
Freature 'DENVERCIKISTARIHI_1' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_SIKAYETSAYISI_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_2' is removed from data because it has only one unique value
Freature 'CM_TICKETSL_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_2' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_2' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_2' is removed from data because it has only one unique value
Freature 'DENVERGIRISTARIHI_2' is removed from data because it has only one unique value
Freature 'DENVERCIKISTARIHI_2' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_SIKAYETSAYISI_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_3' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_3' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_3' is removed from data because it has only one unique value
Freature 'INTERNETEBAGLANAMIYORUM_TICKETSL_3' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_3' is removed from data because it has only one unique value
Freature 'DENVERGIRISTARIHI_3' is removed from data because it has only one unique value
Freature 'DENVERCIKISTARIHI_3' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_3' is removed from data because it has only one unique value
Freature 'CHURNTEST_DATE' is removed from data because it has only one unique value

,NaN,ILADI,POSILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,ODEMESEKLI,ACIKLAMA,...,TDU_TICKETSL_3,ADSLARIZA_TICKETKAPANMASURESI_3,ADSLARIZA_TICKETSL_3,INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3
0,0,İstanbul (Avrupa),939,E,A,2016-04-20,NaT,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,0,0,0,0,10,87108,0,16.5013,272.1967
1,1,İstanbul (Avrupa),420,K,A,2016-04-20,NaT,54,K,(Bireysel)(TN Fiber) 100 Mbps,...,0,0,0,0,0,1,90271,0,135.8656,185.5825
2,2,DIGER,998,E,A,2016-04-21,NaT,54,K,(Bireysel)(Tam İletişim) 16 Mbpse Kadar,...,0,0,0,0,0,3,90112,0,1.8255,46.6458
3,3,İstanbul (Avrupa),418,E,A,2016-04-21,NaT,54,B,(Bireysel)(Tam İletişim) 35 Mbps'e Kadar,...,0,0,0,0,0,15,87588,1664,2.0288,42.0181
4,4,İstanbul (Avrupa),425,E,A,2016-04-21,2020-10-02,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,4668,0,0,0,0,0,0,0.0000,0.0000

In [34]:
# decide which categorical variables you want to use in model
for col_name in data.columns:
    type_name = data[col_name].dtypes
    unique_cat = len(data[col_name].unique())
    print("Feature '{col_name}'('{type_name}') has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat,type_name=type_name))

Feature 'None'('int64') has 1999 unique categories
Feature 'ILTELKODU'('object') has 79 unique categories
Feature 'ILADI'('object') has 79 unique categories
Feature 'POSILCE'('int64') has 378 unique categories
Feature 'ILCE'('object') has 324 unique categories
Feature 'CINSIYET'('object') has 2 unique categories
Feature 'DURUM'('object') has 2 unique categories
Feature 'ABONEBAS'('datetime64[ns]') has 178 unique categories
Feature 'CLOSE_DATE'('datetime64[ns]') has 30 unique categories
Feature 'KALDIGI_AY_SAYISI'('int64') has 9 unique categories
Feature 'ODEMESEKLI'('object') has 2 unique categories
Feature 'ACIKLAMA'('object') has 11 unique categories
Feature 'FATURAGONDERIMTIPI'('object') has 3 unique categories
Feature 'RISKLIMUSTERI'('object') has 2 unique categories
Feature 'YAPA_VAE'('object') has 2 unique categories
Feature 'KAPASITE'('int64') has 5 unique categories
Feature 'currentDown'('float64') has 765 unique categories
Feature 'ARKADASINIGETIR'('float64') has 25 unique categories
Feature 'ARKADASINIGETIRILEGELENLER'('int64') has 2 unique categories
Feature 'FATURA_GECIKME_1'('int64') has 3 unique categories
Feature 'FATURA_GECIKME_UCRETI_1'('float64') has 38 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_1'('int64') has 5 unique categories
Feature 'DESTEKSAYISI_1'('int64') has 12 unique categories
Feature 'TDU_DESTEKSAYISI_1'('int64') has 7 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_1'('int64') has 6 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1'('int64') has 4 unique categories
Feature 'CM_DESTEKSAYISI_1'('int64') has 4 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_1'('int64') has 5 unique categories
Feature 'CM_TICKETKAPANMASURESI_1'('int64') has 19 unique categories
Feature 'TDU_TICKETKAPANMASURESI_1'('int64') has 241 unique categories
Feature 'TDU_TICKETSL_1'('int64') has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_1'('int64') has 205 unique categories
Feature 'ADSLARIZA_TICKETSL_1'('int64') has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_1'('int64') has 25 unique categories
Feature 'IKNATICKET_1'('int64') has 4 unique categories
Feature 'PORTERROR_SAYISI_1'('int64') has 105 unique categories
Feature 'MAX_SESSIONTIME_1'('int64') has 1817 unique categories
Feature 'MIN_SESSIONTIME_1'('int64') has 309 unique categories
Feature 'TOTALUPLOADGB_1'('float64') has 1863 unique categories
Feature 'TOTALDOWNLOADGB_1'('float64') has 1865 unique categories
Feature 'FATURA_GECIKME_2'('int64') has 3 unique categories
Feature 'FATURA_GECIKME_UCRETI_2'('float64') has 29 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_2'('int64') has 5 unique categories
Feature 'DESTEKSAYISI_2'('int64') has 12 unique categories
Feature 'TDU_DESTEKSAYISI_2'('int64') has 9 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_2'('int64') has 8 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_2'('int64') has 4 unique categories
Feature 'CM_DESTEKSAYISI_2'('int64') has 4 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_2'('int64') has 6 unique categories
Feature 'CM_TICKETKAPANMASURESI_2'('int64') has 16 unique categories
Feature 'TDU_TICKETKAPANMASURESI_2'('int64') has 219 unique categories
Feature 'TDU_TICKETSL_2'('int64') has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_2'('int64') has 188 unique categories
Feature 'ADSLARIZA_TICKETSL_2'('int64') has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_2'('int64') has 34 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETSL_2'('int64') has 2 unique categories
Feature 'IKNATICKET_2'('int64') has 4 unique categories
Feature 'PORTERROR_SAYISI_2'('int64') has 101 unique categories
Feature 'MAX_SESSIONTIME_2'('int64') has 1717 unique categories
Feature 'MIN_SESSIONTIME_2'('int64') has 568 unique categories
Feature 'TOTALUPLOADGB_2'('float64') has 1866 unique categories
Feature 'TOTALDOWNLOADGB_2'('float64') has 1869 unique categories
Feature 'FATURA_GECIKME_3'('int64') has 3 unique categories
Feature 'FATURA_GECIKME_UCRETI_3'('float64') has 12 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_3'('int64') has 6 unique categories
Feature 'DESTEKSAYISI_3'('int64') has 11 unique categories
Feature 'TDU_DESTEKSAYISI_3'('int64') has 8 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_3'('int64') has 6 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_3'('int64') has 3 unique categories
Feature 'CM_DESTEKSAYISI_3'('int64') has 5 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_3'('int64') has 5 unique categories
Feature 'CM_TICKETKAPANMASURESI_3'('int64') has 26 unique categories
Feature 'CM_TICKETSL_3'('int64') has 2 unique categories
Feature 'TDU_TICKETKAPANMASURESI_3'('int64') has 242 unique categories
Feature 'TDU_TICKETSL_3'('int64') has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_3'('int64') has 190 unique categories
Feature 'ADSLARIZA_TICKETSL_3'('int64') has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3'('int64') has 51 unique categories
Feature 'IKNATICKET_3'('int64') has 5 unique categories
Feature 'PORTERROR_SAYISI_3'('int64') has 110 unique categories
Feature 'MAX_SESSIONTIME_3'('int64') has 1416 unique categories
Feature 'MIN_SESSIONTIME_3'('int64') has 561 unique categories
Feature 'TOTALUPLOADGB_3'('float64') has 1874 unique categories
Feature 'TOTALDOWNLOADGB_3'('float64') has 1879 unique categories

In [35]:
# yüzlerce farklı ilçe var ve one-hot encoding yapmak mantıklı değil, bu datayı kullanmayacağız.
# x['ILCE'].value_counts().sort_values(ascending=False).head(60)
data = data.drop('ILCE',1)

# ILTELKODU ve ILADI aynı veriyi karakterize ediyor, telefon kodunu datadan çıkarmalıyız.
data = data.drop('ILTELKODU',1)

In [36]:
# datadaki illerin dağılımınada bakalım, istanbul, ankara ve izmir domine ediyor.
data['ILADI'].value_counts().sort_values(ascending=False).head(10)

İstanbul (Avrupa)     594
İstanbul (Anadolu)    302
Ankara                139
İzmir                 101
Bursa                  86
Antalya                54
Kocaeli                54
Muğla                  43
Konya                  42
Adana                  34
Name: ILADI, dtype: int64

In [37]:
# geri kalan illerin adını DIGER olarak değiştirelim.
data['ILADI'] = ['DIGER' if (z!='İstanbul (Avrupa)' and z!='İstanbul (Anadolu)' and z!='Ankara' and z!='İzmir') else z for z in data['ILADI']]

# şimdi il dağılımına tekrar bakalım
data['ILADI'].value_counts().sort_values(ascending=False).head(5)

DIGER                 863
İstanbul (Avrupa)     594
İstanbul (Anadolu)    302
Ankara                139
İzmir                 101
Name: ILADI, dtype: int64

In [5]:
# Assign outcome as 0 if DURUM=A and 1 if DURUM=K
# data['DURUM'] = [0 if x == 'A' else 1 for x in data['DURUM']]
y = data['DURUM']
x = data

In [6]:
y.head()

0    A
1    A
2    A
3    A
4    A
Name: DURUM, dtype: object

In [7]:
x.head()

,NaN,ILTELKODU,ILADI,POSILCE,ILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,...,DENVERGIRISTARIHI_3,DENVERCIKISTARIHI_3,DENVERKALDIGISURE_GUN_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3,CHURNTEST_DATE
0,0,212,İstanbul (Avrupa),939,SULTANGAZİ,E,A,2016-04-20,NaT,54,...,None,None,0,0,10,87108,0,16.5013,272.1967,2020-10-31
1,1,212,İstanbul (Avrupa),420,SARIYER,K,A,2016-04-20,NaT,54,...,None,None,0,0,1,90271,0,135.8656,185.5825,2020-10-31
2,2,262,Kocaeli,998,İZMİT,E,A,2016-04-21,NaT,54,...,None,None,0,0,3,90112,0,1.8255,46.6458,2020-10-31
3,3,212,İstanbul (Avrupa),418,KÜÇÜKÇEKMECE,E,A,2016-04-21,NaT,54,...,None,None,0,0,15,87588,1664,2.0288,42.0181,2020-10-31
4,4,212,İstanbul (Avrupa),425,BAYRAMPAŞA,E,A,2016-04-21,2020-10-02,54,...,None,None,0,0,0,0,0,0.0000,0.0000,2020-10-31

In [8]:
# decide which categorical variables you want to use in model
for col_name in x.columns:
    if x[col_name].dtypes == 'object':
        unique_cat = len(x[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'ILTELKODU' has 79 unique categories
Feature 'ILADI' has 79 unique categories
Feature 'ILCE' has 324 unique categories
Feature 'CINSIYET' has 2 unique categories
Feature 'DURUM' has 2 unique categories
Feature 'ODEMESEKLI' has 2 unique categories
Feature 'ACIKLAMA' has 11 unique categories
Feature 'FATURAGONDERIMTIPI' has 3 unique categories
Feature 'RISKLIMUSTERI' has 2 unique categories
Feature 'YAPA_VAE' has 2 unique categories
Feature 'DENVERGIRISTARIHI_1' has 1 unique categories
Feature 'DENVERCIKISTARIHI_1' has 1 unique categories
Feature 'DENVERGIRISTARIHI_2' has 1 unique categories
Feature 'DENVERCIKISTARIHI_2' has 1 unique categories
Feature 'DENVERGIRISTARIHI_3' has 1 unique categories
Feature 'DENVERCIKISTARIHI_3' has 1 unique categories
Feature 'CHURNTEST_DATE' has 1 unique categories

In [9]:
# yüzlerce farklı ilçe var ve one-hot encoding yapmak mantıklı değil, bu datayı kullanmayacağız.
# x['ILCE'].value_counts().sort_values(ascending=False).head(60)
x1 = x.drop('ILCE',1)

In [10]:
# ILTELKODU ve ILADI aynı veriyi karakterize ediyor, telefon kodunu datadan çıkarmalıyız.
# datadaki illerin dağılımınada bakalım, istanbul, ankara ve izmir domine ediyor, geri kalan illerin adını DIGER olarak değiştirelim.
x1 = x1.drop('ILTELKODU',1)
x1['ILADI'].value_counts().sort_values(ascending=False).head(10)

İstanbul (Avrupa)     594
İstanbul (Anadolu)    302
Ankara                139
İzmir                 101
Bursa                  86
Antalya                54
Kocaeli                54
Muğla                  43
Konya                  42
Adana                  34
Sakarya                30
Balıkesir              30
Tekirdağ               23
Çanakkale              18
Denizli                18
Manisa                 17
Mersin                 16
Hatay                  14
Samsun                 14
Aydın                  14
Eskişehir              14
Kahramanmaraş          13
Kırklareli             13
Ordu                   13
Afyon                  13
Çorum                  12
Kayseri                12
Karabük                10
Uşak                   10
Zonguldak              10
Trabzon                 9
Aksaray                 9
Rize                    9
Edirne                  8
Giresun                 8
Isparta                 8
Sivas                   8
Kütahya                 8
Nevşehir                8
Gaziantep               8
Tokat                   8
Malatya                 7
Osmaniye                7
Yalova                  7
Yozgat                  7
Elazığ                  7
Diyarbakır              6
Şanlıurfa               6
Bolu                    5
Karaman                 5
Van                     5
Bartın                  5
Adıyaman                5
Düzce                   4
Sinop                   4
Batman                  4
Iğdır                   4
Kırşehir                4
Kastamonu               4
Niğde                   3
Name: ILADI, dtype: int64

In [11]:
x1['ILADI'] = ['DIGER' if (z!='İstanbul (Avrupa)' and z!='İstanbul (Anadolu)' and z!='Ankara' and z!='İzmir') else z for z in x1['ILADI']]
x1['ILADI'].value_counts().sort_values(ascending=False).head(5)

DIGER                 863
İstanbul (Avrupa)     594
İstanbul (Anadolu)    302
Ankara                139
İzmir                 101
Name: ILADI, dtype: int64

In [12]:
# 'DENVERGIRISTARIHI_1' has 1 unique categories 
# 'DENVERCIKISTARIHI_1' has 1 unique categories
# 'DENVERGIRISTARIHI_2' has 1 unique categories
# 'DENVERCIKISTARIHI_2' has 1 unique categories
# 'DENVERGIRISTARIHI_3' has 1 unique categories
# 'DENVERCIKISTARIHI_3' has 1 unique categories
# 'CHURNTEST_DATE' has 1 unique categories
# yukarıdaki feature'larda yalnızca 1 tip veri olduğu için bu feature'ları silebiliriz.
x1 = x1.drop('DENVERGIRISTARIHI_1',1)
x1 = x1.drop('DENVERCIKISTARIHI_1',1)
x1 = x1.drop('DENVERGIRISTARIHI_2',1)
x1 = x1.drop('DENVERCIKISTARIHI_2',1)
x1 = x1.drop('DENVERGIRISTARIHI_3',1)
x1 = x1.drop('DENVERCIKISTARIHI_3',1)
x1 = x1.drop('CHURNTEST_DATE',1)
x1.head()

,NaN,ILADI,POSILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,ODEMESEKLI,ACIKLAMA,...,INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3,INTERNETEBAGLANAMIYORUM_TICKETSL_3,BTK_SIKAYET_3,DENVERKALDIGISURE_GUN_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3
0,0,İstanbul (Avrupa),939,E,A,2016-04-20,NaT,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,0,0,0,0,10,87108,0,16.5013,272.1967
1,1,İstanbul (Avrupa),420,K,A,2016-04-20,NaT,54,K,(Bireysel)(TN Fiber) 100 Mbps,...,0,0,0,0,0,1,90271,0,135.8656,185.5825
2,2,DIGER,998,E,A,2016-04-21,NaT,54,K,(Bireysel)(Tam İletişim) 16 Mbpse Kadar,...,0,0,0,0,0,3,90112,0,1.8255,46.6458
3,3,İstanbul (Avrupa),418,E,A,2016-04-21,NaT,54,B,(Bireysel)(Tam İletişim) 35 Mbps'e Kadar,...,0,0,0,0,0,15,87588,1664,2.0288,42.0181
4,4,İstanbul (Avrupa),425,E,A,2016-04-21,2020-10-02,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,0,0,0,0,0,0,0,0.0000,0.0000

In [13]:
# decide which numerical variables you want to use in model

for col_name in x1.columns:
    if x1[col_name].dtypes == 'int64':
        unique_cat = len(x1[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'None' has 1999 unique categories
Feature 'POSILCE' has 378 unique categories
Feature 'KALDIGI_AY_SAYISI' has 9 unique categories
Feature 'KAPASITE' has 5 unique categories
Feature 'ARKADASINIGETIRILEGELENLER' has 2 unique categories
Feature 'FATURA_GECIKME_1' has 3 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_1' has 5 unique categories
Feature 'DESTEKSAYISI_1' has 12 unique categories
Feature 'TDU_DESTEKSAYISI_1' has 7 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_1' has 6 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_1' has 4 unique categories
Feature 'CM_DESTEKSAYISI_1' has 4 unique categories
Feature 'HIZMETKANALI_SIKAYETSAYISI_1' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKSAYISI_1' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_1' has 5 unique categories
Feature 'CM_TICKETKAPANMASURESI_1' has 19 unique categories
Feature 'CM_TICKETSL_1' has 1 unique categories
Feature 'HIZMETKANALI_TICKETKAPANMASURESI_1' has 1 unique categories
Feature 'HIZMETKANALI_TICKETSL_1' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKKAPANMASURESI_1' has 1 unique categories
Feature 'FATURAINCELEME_TICKETSL_1' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKKAPANMASURESI_1' has 1 unique categories
Feature 'OIMSIKAYET_TICKETSL_1' has 1 unique categories
Feature 'TDU_TICKETKAPANMASURESI_1' has 241 unique categories
Feature 'TDU_TICKETSL_1' has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_1' has 205 unique categories
Feature 'ADSLARIZA_TICKETSL_1' has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_1' has 25 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETSL_1' has 1 unique categories
Feature 'BTK_SIKAYET_1' has 1 unique categories
Feature 'DENVERKALDIGISURE_GUN_1' has 1 unique categories
Feature 'IKNATICKET_1' has 4 unique categories
Feature 'PORTERROR_SAYISI_1' has 105 unique categories
Feature 'MAX_SESSIONTIME_1' has 1817 unique categories
Feature 'MIN_SESSIONTIME_1' has 309 unique categories
Feature 'FATURA_GECIKME_2' has 3 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_2' has 5 unique categories
Feature 'DESTEKSAYISI_2' has 12 unique categories
Feature 'TDU_DESTEKSAYISI_2' has 9 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_2' has 8 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_2' has 4 unique categories
Feature 'CM_DESTEKSAYISI_2' has 4 unique categories
Feature 'HIZMETKANALI_SIKAYETSAYISI_2' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKSAYISI_2' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_2' has 6 unique categories
Feature 'CM_TICKETKAPANMASURESI_2' has 16 unique categories
Feature 'CM_TICKETSL_2' has 1 unique categories
Feature 'HIZMETKANALI_TICKETKAPANMASURESI_2' has 1 unique categories
Feature 'HIZMETKANALI_TICKETSL_2' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKKAPANMASURESI_2' has 1 unique categories
Feature 'FATURAINCELEME_TICKETSL_2' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKKAPANMASURESI_2' has 1 unique categories
Feature 'OIMSIKAYET_TICKETSL_2' has 1 unique categories
Feature 'TDU_TICKETKAPANMASURESI_2' has 219 unique categories
Feature 'TDU_TICKETSL_2' has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_2' has 188 unique categories
Feature 'ADSLARIZA_TICKETSL_2' has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_2' has 34 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETSL_2' has 2 unique categories
Feature 'BTK_SIKAYET_2' has 1 unique categories
Feature 'DENVERKALDIGISURE_GUN_2' has 1 unique categories
Feature 'IKNATICKET_2' has 4 unique categories
Feature 'PORTERROR_SAYISI_2' has 101 unique categories
Feature 'MAX_SESSIONTIME_2' has 1717 unique categories
Feature 'MIN_SESSIONTIME_2' has 568 unique categories
Feature 'FATURA_GECIKME_3' has 3 unique categories
Feature 'CAGRIMERKEZIARAMASAYISI_3' has 6 unique categories
Feature 'DESTEKSAYISI_3' has 11 unique categories
Feature 'TDU_DESTEKSAYISI_3' has 8 unique categories
Feature 'ADSLARIZA_DESTEKSAYISI_3' has 6 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_DESTEKSAYISI_3' has 3 unique categories
Feature 'CM_DESTEKSAYISI_3' has 5 unique categories
Feature 'HIZMETKANALI_SIKAYETSAYISI_3' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKSAYISI_3' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKSAYISI_3' has 5 unique categories
Feature 'CM_TICKETKAPANMASURESI_3' has 26 unique categories
Feature 'CM_TICKETSL_3' has 2 unique categories
Feature 'HIZMETKANALI_TICKETKAPANMASURESI_3' has 1 unique categories
Feature 'HIZMETKANALI_TICKETSL_3' has 1 unique categories
Feature 'FATURAINCELEME_DESTEKKAPANMASURESI_3' has 1 unique categories
Feature 'FATURAINCELEME_TICKETSL_3' has 1 unique categories
Feature 'OIMSIKAYET_DESTEKKAPANMASURESI_3' has 1 unique categories
Feature 'OIMSIKAYET_TICKETSL_3' has 1 unique categories
Feature 'TDU_TICKETKAPANMASURESI_3' has 242 unique categories
Feature 'TDU_TICKETSL_3' has 2 unique categories
Feature 'ADSLARIZA_TICKETKAPANMASURESI_3' has 190 unique categories
Feature 'ADSLARIZA_TICKETSL_3' has 2 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3' has 51 unique categories
Feature 'INTERNETEBAGLANAMIYORUM_TICKETSL_3' has 1 unique categories
Feature 'BTK_SIKAYET_3' has 1 unique categories
Feature 'DENVERKALDIGISURE_GUN_3' has 1 unique categories
Feature 'IKNATICKET_3' has 5 unique categories
Feature 'PORTERROR_SAYISI_3' has 110 unique categories
Feature 'MAX_SESSIONTIME_3' has 1416 unique categories
Feature 'MIN_SESSIONTIME_3' has 561 unique categories

In [14]:
# if a feature has only one unique value, then we should remove that feature

Freature 'HIZMETKANALI_SIKAYETSAYISI_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_1' is removed from data because it has only one unique value
Freature 'CM_TICKETSL_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_1' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_1' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_1' is removed from data because it has only one unique value
Freature 'INTERNETEBAGLANAMIYORUM_TICKETSL_1' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_1' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_1' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_SIKAYETSAYISI_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_2' is removed from data because it has only one unique value
Freature 'CM_TICKETSL_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_2' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_2' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_2' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_2' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_2' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_SIKAYETSAYISI_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKSAYISI_3' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'HIZMETKANALI_TICKETSL_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_DESTEKKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'FATURAINCELEME_TICKETSL_3' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_DESTEKKAPANMASURESI_3' is removed from data because it has only one unique value
Freature 'OIMSIKAYET_TICKETSL_3' is removed from data because it has only one unique value
Freature 'INTERNETEBAGLANAMIYORUM_TICKETSL_3' is removed from data because it has only one unique value
Freature 'BTK_SIKAYET_3' is removed from data because it has only one unique value
Freature 'DENVERKALDIGISURE_GUN_3' is removed from data because it has only one unique value

,NaN,ILADI,POSILCE,CINSIYET,DURUM,ABONEBAS,CLOSE_DATE,KALDIGI_AY_SAYISI,ODEMESEKLI,ACIKLAMA,...,TDU_TICKETSL_3,ADSLARIZA_TICKETKAPANMASURESI_3,ADSLARIZA_TICKETSL_3,INTERNETEBAGLANAMIYORUM_TICKETKAPANMASURESI_3,IKNATICKET_3,PORTERROR_SAYISI_3,MAX_SESSIONTIME_3,MIN_SESSIONTIME_3,TOTALUPLOADGB_3,TOTALDOWNLOADGB_3
0,0,İstanbul (Avrupa),939,E,A,2016-04-20,NaT,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,0,0,0,0,10,87108,0,16.5013,272.1967
1,1,İstanbul (Avrupa),420,K,A,2016-04-20,NaT,54,K,(Bireysel)(TN Fiber) 100 Mbps,...,0,0,0,0,0,1,90271,0,135.8656,185.5825
2,2,DIGER,998,E,A,2016-04-21,NaT,54,K,(Bireysel)(Tam İletişim) 16 Mbpse Kadar,...,0,0,0,0,0,3,90112,0,1.8255,46.6458
3,3,İstanbul (Avrupa),418,E,A,2016-04-21,NaT,54,B,(Bireysel)(Tam İletişim) 35 Mbps'e Kadar,...,0,0,0,0,0,15,87588,1664,2.0288,42.0181
4,4,İstanbul (Avrupa),425,E,A,2016-04-21,2020-10-02,54,K,(Bireysel)(Tam İletişim)(Yapa) 100 Mbps'e Kadar,...,0,4668,0,0,0,0,0,0,0.0000,0.0000